@tailwind base;
@tailwind components;
@tailwind utilities;

table{
  text-align: center;
  width: 100%;
}

td {
  border-bottom: 2px rgb(219, 219, 219) solid;
  padding: 5px;
}

h1{
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

th:first-of-type {
  border-top-left-radius: 10px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}

#map{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid;
}